{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <h2>Active Listings</h2>
</div>
    {% for listing in listings %}
    <div class="container row border mx-auto py-3">
        <div class="col">
            <img src='{{ listing.picture.url }}'>
        </div>
        <div class="col">
            <h4><strong><a href="{% url 'listing_detail' listing.title %}">{{ listing.title }}</a></strong></h4>
            <p><strong>Price: ${{ listing.price }}</strong></p>
            <br>
            <p>Created {{ listing.created }}</p>
        </div>
    </div>
</div>
    {% endfor %}
{% endblock %}